*.iws
*Db.properties
*Db.script
.settings
eclipse
.vscode
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
.metadata
Servers
*target-eclipse
*tld
*.directory
*.project
debug
server/gokb/logs/
/openrefine
*.class
/*.zip
application-development.yaml
application-test.yaml
