#selectedBulkAction, #selectedAction {
  width:100%;
}

#bulkActionControls, #actionControls{
  width: 300px;
  border-color:#BBB;
}

#actionControls {
  margin:35px 30px 20px 10px;
  padding:0 20px 0 20px;
}