.security-table td, .security-table th {
  text-align:center;
  vertical-align: middle;
}

.security-table [class^="icon-"]:before, .security-table [class*=" icon-"]:before {
  font-size:1.7em;
  cursor: default;
}

.security-table .icon-ok-sign {
  color: #51A351;
}

.security-table .editable .icon-ok-sign {
	color: #AAA;
}

.security-table .editable .icon-ok-sign:hover:before {
  color: #51A351;
  content: "";
}

.security-table .icon-remove-sign {
  color: #BD362F;
}

.security-table .editable .icon-remove-sign {
	color:#AAA;
}

.security-table .editable .icon-remove-sign:hover:before {
  color: #BD362F;
  content: "";
}

.group-status {
	width: 1px;
}

.group-status a {
	text-decoration: none !important;
}