/**
 *  Local gokb overrides for bootstrap
 */
 
 body {
   padding-top:55px;
   padding-bottom:45px;
 }
 
 h1.panel-title {
   font-size:2em;
 }
 
.editable-inline textarea {
  line-height: 1.2em;
  height: 2.4em;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  resize:none;
}

.dl-horizontal dt {
  width: 200px;
  margin-bottom: 10px;
}

.dl-horizontal dd {
  margin-left: 220px;
  margin-bottom: 10px;
}

.tab-content dl {
  padding: 0 20px 0 20px;
}

/** All select checkbox box styles **/
.batch-all-info {
	text-align: center;
}

#licsummary .more-info .info{
	cursor: pointer;
}

.search-display .navbar {
	margin-bottom:0;
	margin-top:0;
}

.search-display .table {
	margin-bottom:0;
	margin-top:0;
}

#bulkActionControls {
	margin-top:25px;
}

.page-jump {
	font-size:1.2em;
}

.dropdown-menu-scroll {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}