table, tbody, tfoot, thead, tr, th, td {
   vertical-align: top;
}

#gokb-index {

  font-size:1.1em;
  
  table {
    
    a:link {
      color:#11c;
      text-decoration: none;
    }
    a:active {
      color:#11c;
      text-decoration: underline;
    }
    a:visited {
      color:#11c;
      text-decoration: none;
    }
    a:hover {
      color:#11c;
      text-decoration: underline;
    }
  }

	.projects {
	  position: relative;
	}
	
	.control { 
	  visibility: hidden;
	}
	
	.controls {
	    background: none 0 0 #EBEEF8;
	    border-top: 1px solid #BBCCFF;
	    padding: 7px;
	    position: relative;
	}
	
	#gokb-project-tabs {
	
	  .ui-tabs-nav {
      background: none 0 0 #EBEEF8;
      border-top: 1px solid #BBCCFF;
      padding: 7px 7px 0 0;
    }
    
    .ui-tabs-panel {
      border: 1px solid #BBCCFF;
      border-width: 0 1px 1px 1px;
      padding:10px;
    }
  }
}