/**
 * GOKb application CSS.
 */
/*
*= require metisMenu.min
*= require summernote
*= require summernote-bs3
*= require annotations
*= require security-styles
*= require select2
*= require select2-bootstrap3
*= require bootstrap-editable
*= require morris
*= require jquery.textcomplete
*= require fontawesome
*= encoding UTF-8
*/


.threeColGrid > div:nth-child(4n+5) {
    clear: left;
}

body .modal-dialog {
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* margin-left: -375px; */
}

.textcomplete-dropdown {
	z-index: 9999 !important;
}

.title-merge-info {
  display:inline-block;
  font-size:1.1em;
  padding:8px;
  margin:10px 0;
  background-color:#fcf8e3;
  border:1px solid;
  border-color:#faebcc;
}

.title-merge-heading {
  font-weight:bold;
}

.title-merge-title {
  font-weight:bold;font-size:1.1em;
}

.title-merge-heading-old {
  background-color: #ebccd1;
}
.title-merge-heading-new {
  background-color: #d6e9c6;
}

.title-merge-body-old {
  background-color: #fff7f8;
}
.title-merge-body-new {
  background-color: #f6ffef;
}

.title-merge-ids {
  margin:2px;
  font-size:1.2em;
  font-weight:bold;
}

.title-merge-status {
  margin-top:1.4em;
  font-weight:bold;
}

.title-merge-heading-sub > th > span > input{
  vertical-align:text-top;
}

.title-merge-space {
  background-color:#ffffff;
}

.title-merge-space > td {
  text-align:center;
  font-size:2em;
}

.pagination > a, .pagination > span {
  padding: 5px 8px;
  font-size:larger;
  border-right: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-decoration:none;
}

.pagination > .currentStep {
  font-weight:bold;
  color: #666;
  background-color:#f5f5f5;
}

.pagination > a:first-child, .pagination > span:first-child  {
  border-left: 1px solid #e7e7e7;
/*   border-radius: 6px 0px 0px 6px; */
}

.pagination > a:last-child, .pagination > span:last-child {
/*  border-radius: 0px 6px 6px 0px;*/
}

.select2-container .select2-choice {
  height:39px;
}

.select-m {
  width:300px !important;
}

.select-ml {
  width:450px !important;
}

.select2-chosen{
  height:39px;
  padding: 8px 12px !important;
  line-height:normal;
}
.form-control {
  padding-top: 8px;
  display:block;
  line-height:normal !important;
}

.add-on {
  font-size:1.3em;
  color:#222;
  height:39px;
  vertical-align: sub;
  margin-left:-35px;
  margin-right:35px;
  display:inline-block;
}

.form-label {
  display:inline-block;
  vertical-align:middle;
  height:39px;
  padding-top:9px;
}

.dt-label {
  padding-top:8px;
}

.control-label {
  font-size:15px;
}

.search-page-index {
  white-space: nowrap;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-page-index-input {
  height:24px;
}

.editable-click {
  cursor:pointer;
}

#rr-tipp-status {
  width:100px;
  display:inline;
}
