/**
 * GOKb application CSS.
 */
/*
*= require font-awesome
*= require metisMenu.min
*= require summernote
*= require summernote-bs3
*= require annotations
*= require security-styles
*= require select2
*= require select2-bootstrap
*= require bootstrap-editable
*= require morris
*= encoding UTF-8
*/
