/**
 * GOKb application CSS.
 */
/*
*= require font-awesome
*= require metisMenu.min
*= require summernote
*= require summernote-bs3
*= require annotations
*= require security-styles
*= require select2
*= require select2-bootstrap3
*= require bootstrap-editable
*= require morris
*= encoding UTF-8
*/

.threeColGrid > div:nth-child(4n+5) {
    clear: left;
}
