.security-table td, .security-table th {
  text-align:center;
  vertical-align: middle;
}

.security-table [class^="icon-"]:before, .security-table [class*=" icon-"]:before {
  font-size:1.7em;
  cursor: default;
}

.security-table .fa {
	font-size: 1.75em;
}

.security-table .icon-ok-sign {
  color: #51A351;
}

.security-table a {
  text-decoration: none !important;
  cursor: pointer;
}

.security-table a .icon-ok-sign {
	color: #AAA;
}

.security-table a .icon-ok-sign:hover:before {
  color: #51A351;
  content: "";
}

.security-table .icon-remove-sign {
  color: #BD362F;
}

.security-table a .icon-remove-sign {
	color:#AAA;
}

.security-table a .icon-remove-sign:hover:before {
  color: #BD362F;
  content: "";
}

.group-status {
	width: 1px;
}

.list > table > thead > tr > th {
	padding: 8px 10px 8px 5px;
}

.list > table > tbody > tr > td {
	padding: 8px 10px 8px 5px;
}

.s2ui_form > form > table > tbody > tr > td {
	padding: 8px 10px 8px 5px;
}